# Visual Studio
.vs*
# CMake
out*
# Wwise
.backup*
.cache*
*.akd
*.prof
*.validationcache
*.wsettings
AkWwiseProjectData.asset
IncrementalSoundBankData.xml
PluginInfo.xml
SoundbanksInfo.xml
# Python
*.pyc
