# Visual Studio
.vs/*
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/set-env-var.ps1
!.vscode/extensions.json
# CMake
out*
build/
.claude/
# Wwise
.backup*
.cache*
*.akd
*.prof
*.validationcache
*.wsettings
AkWwiseProjectData.asset
IncrementalSoundBankData.xml
PluginInfo.xml
SoundbanksInfo.xml
*.wproj_migration.log
# Python
*.pyc
